    /* Inputs  */    
    .input-field1 select,
    .input-field1 input {
        display: block;
        width: 100%;
        border: 1px solid #fff;
        padding: 10px 15px;
        background: none;
        color: white;
    }
    
    .input-field1 textarea {
        display: block;
        width: 100%;
        border: 1px solid #333;
    }
    /* Selects */
    
    .helper-text {
        color: #fff;
        font-size: .8em;
    }

    input:focus, select:focus{
        outline: none;
    }
    select:focus option{
        color: black;
    }
    /* select:active {
        color: red;
    } */